# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Model files (uncommenting this line would ignore saved models)
# models/*.pkl

# Data files (uncommenting this would ignore all data)
# data/interim/*
# data/output/*

# Images
# reports/figures/*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log